USE [master]
GO
/****** Object:  Database [bd_empresa]    Script Date: 17/09/2025 14:52:51 ******/
CREATE DATABASE [bd_empresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_empresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_empresa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_empresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_empresa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_empresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_empresa]
GO
/****** Object:  Table [dbo].[alocacao]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alocacao](
	[num_matricula] [int] NOT NULL,
	[cod_projeto] [int] NOT NULL,
	[num_horas] [int] NOT NULL,
 CONSTRAINT [PK_alocacao] PRIMARY KEY CLUSTERED 
(
	[num_matricula] ASC,
	[cod_projeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[cod_depto] [int] NOT NULL,
	[nom_depto] [varchar](100) NOT NULL,
	[num_matricula_gerente] [int] NULL,
	[dat_inicio_gerente] [smalldatetime] NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[cod_depto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento_local]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento_local](
	[cod_depto] [int] NOT NULL,
	[nom_local] [varchar](50) NOT NULL,
 CONSTRAINT [PK_departamento_local] PRIMARY KEY CLUSTERED 
(
	[cod_depto] ASC,
	[nom_local] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dependente]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dependente](
	[num_matricula] [int] NOT NULL,
	[nom_dependente] [varchar](100) NOT NULL,
	[sex_dependente] [char](1) NOT NULL,
	[dsc_parentesco] [char](10) NOT NULL,
 CONSTRAINT [PK_dependente] PRIMARY KEY CLUSTERED 
(
	[num_matricula] ASC,
	[nom_dependente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empregado]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empregado](
	[num_matricula] [int] NOT NULL,
	[nom_empregado] [varchar](100) NOT NULL,
	[dat_nascimento] [smalldatetime] NULL,
	[dsc_endereco] [varchar](100) NULL,
	[nom_cidade] [varchar](100) NULL,
	[sig_uf] [char](2) NULL,
	[sex_empregado] [char](1) NOT NULL,
	[val_salario] [numeric](7, 2) NOT NULL,
	[num_matricula_supervisor] [int] NULL,
	[cod_depto] [int] NULL,
 CONSTRAINT [PK_empregado] PRIMARY KEY CLUSTERED 
(
	[num_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projeto]    Script Date: 17/09/2025 14:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projeto](
	[cod_projeto] [int] NOT NULL,
	[nom_projeto] [varchar](100) NOT NULL,
	[nom_local] [varchar](50) NULL,
	[cod_depto] [int] NOT NULL,
 CONSTRAINT [PK_projeto] PRIMARY KEY CLUSTERED 
(
	[cod_projeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alocacao]  WITH CHECK ADD  CONSTRAINT [FK_alocacao_empregado] FOREIGN KEY([num_matricula])
REFERENCES [dbo].[empregado] ([num_matricula])
GO
ALTER TABLE [dbo].[alocacao] CHECK CONSTRAINT [FK_alocacao_empregado]
GO
ALTER TABLE [dbo].[alocacao]  WITH CHECK ADD  CONSTRAINT [FK_alocacao_projeto] FOREIGN KEY([cod_projeto])
REFERENCES [dbo].[projeto] ([cod_projeto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alocacao] CHECK CONSTRAINT [FK_alocacao_projeto]
GO
ALTER TABLE [dbo].[departamento]  WITH CHECK ADD  CONSTRAINT [FK_gerencia] FOREIGN KEY([num_matricula_gerente])
REFERENCES [dbo].[empregado] ([num_matricula])
GO
ALTER TABLE [dbo].[departamento] CHECK CONSTRAINT [FK_gerencia]
GO
ALTER TABLE [dbo].[departamento_local]  WITH CHECK ADD  CONSTRAINT [FK_esta_localizado] FOREIGN KEY([cod_depto])
REFERENCES [dbo].[departamento] ([cod_depto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[departamento_local] CHECK CONSTRAINT [FK_esta_localizado]
GO
ALTER TABLE [dbo].[dependente]  WITH CHECK ADD  CONSTRAINT [FK_possui] FOREIGN KEY([num_matricula])
REFERENCES [dbo].[empregado] ([num_matricula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dependente] CHECK CONSTRAINT [FK_possui]
GO
ALTER TABLE [dbo].[empregado]  WITH CHECK ADD  CONSTRAINT [FK_supervisiona] FOREIGN KEY([num_matricula_supervisor])
REFERENCES [dbo].[empregado] ([num_matricula])
GO
ALTER TABLE [dbo].[empregado] CHECK CONSTRAINT [FK_supervisiona]
GO
ALTER TABLE [dbo].[empregado]  WITH CHECK ADD  CONSTRAINT [FK_trabalha_para] FOREIGN KEY([cod_depto])
REFERENCES [dbo].[departamento] ([cod_depto])
GO
ALTER TABLE [dbo].[empregado] CHECK CONSTRAINT [FK_trabalha_para]
GO
ALTER TABLE [dbo].[projeto]  WITH CHECK ADD  CONSTRAINT [FK_projeto_departamento] FOREIGN KEY([cod_depto])
REFERENCES [dbo].[departamento] ([cod_depto])
GO
ALTER TABLE [dbo].[projeto] CHECK CONSTRAINT [FK_projeto_departamento]
GO
ALTER TABLE [dbo].[dependente]  WITH CHECK ADD  CONSTRAINT [CK_dependente_sexo] CHECK  (([sex_dependente]='M' OR [sex_dependente]='F'))
GO
ALTER TABLE [dbo].[dependente] CHECK CONSTRAINT [CK_dependente_sexo]
GO
ALTER TABLE [dbo].[empregado]  WITH CHECK ADD  CONSTRAINT [CK_empregado_sexo] CHECK  (([sex_empregado]='M' OR [sex_empregado]='F'))
GO
ALTER TABLE [dbo].[empregado] CHECK CONSTRAINT [CK_empregado_sexo]
GO
USE [master]
GO
