USE [master]
GO
/****** Object:  Database [bd_filmes]    Script Date: 21/09/2025 22:25:40 ******/
CREATE DATABASE [bd_filmes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_filmes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_filmes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_filmes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_filmes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_filmes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_filmes]
GO
/****** Object:  Table [dbo].[filmes]    Script Date: 21/09/2025 22:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmes](
	[id_filme] [int] NOT NULL,
	[dsc_filme] [varchar](255) NULL,
	[qtd_votos] [int] NULL,
	[num_nota_media] [int] NULL,
	[num_popularidade] [int] NULL,
	[dsc_link_foto] [varchar](255) NULL,
	[dsc_sinopse] [text] NULL,
	[dat_lancamento] [datetime] NULL,
 CONSTRAINT [filmes_pk] PRIMARY KEY CLUSTERED 
(
	[id_filme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[filmes_genero]    Script Date: 21/09/2025 22:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmes_genero](
	[id_filme] [int] NULL,
	[id_genero] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos]    Script Date: 21/09/2025 22:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos](
	[id_genero] [int] NOT NULL,
	[dsc_genero] [varchar](255) NULL,
 CONSTRAINT [generos_pk] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[filmes_genero]  WITH CHECK ADD  CONSTRAINT [filmes_genero_fk] FOREIGN KEY([id_filme])
REFERENCES [dbo].[filmes] ([id_filme])
GO
ALTER TABLE [dbo].[filmes_genero] CHECK CONSTRAINT [filmes_genero_fk]
GO
ALTER TABLE [dbo].[filmes_genero]  WITH CHECK ADD  CONSTRAINT [filmes_genero_fk_1] FOREIGN KEY([id_genero])
REFERENCES [dbo].[generos] ([id_genero])
GO
ALTER TABLE [dbo].[filmes_genero] CHECK CONSTRAINT [filmes_genero_fk_1]
GO
USE [master]
GO
